IDB_UNMARKED   BITMAP   "Resources/Grid/Unmarked.bmp"
IDB_MARKED     BITMAP   "Resources/Grid/Marked.bmp"
IDB_COLD       BITMAP   "Resources/Grid/Cold.bmp"
IDB_WARM       BITMAP   "Resources/Grid/Warm.bmp"
IDB_HOT        BITMAP   "Resources/Grid/Hot.bmp"
IDB_ALMOST	   BITMAP   "Resources/Keys/Almost.bmp"
IDB_BIGBUTTON  BITMAP   "Resources/Keys/BigButton.bmp"
IDB_CORRECT    BITMAP   "Resources/Keys/Correct.bmp"
IDB_UNUSED     BITMAP   "Resources/Keys/Unused.bmp"
IDB_USED       BITMAP   "Resources/Keys/Used.bmp"